<div class="modal-footer">
    <button type="button" class="btn btn-default close-button waves-effect" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary save-button waves-effect">Save</button>
</div>